@import "tailwindcss";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Chewy", system-ui;
  font-weight: 300;
}

button {
  cursor: pointer;
}
